<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>CST 205 Playlist</title>
      {{ bootstrap.load_css() }}
  </head>
<body>
  <div class="container mb-4"  style="width: 10%;">  
    <img src="static\images\26805.png"  class="img-fluid">
  </div>
  
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Add to our playlist!</h2>
          <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.song_title.label }} 
            {{ form.song_title(size=32) }}
            <br>
            {{ form.artist_name.label }} 
            {{ form.artist_name(size=32) }}
            <br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>


</body>
</html>